@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-default: var(--font-helvetica-neue);
}

/* Light Mode Overrides */
@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Body Styles */
body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-default), Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
}
